// docs: https://help.apple.com/xcode/mac/11.4/#/itcaec37c2a6

#include "Pods/Target Support Files/Pods-alt-tab-macos/Pods-alt-tab-macos.release.xcconfig"
#include "base.xcconfig"

CODE_SIGN_IDENTITY = 0421701A39C0669D9545FCAA38163AB232F82B43
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO // for notarization
OTHER_CODE_SIGN_FLAGS = --timestamp --deep --options runtime // for notarization
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
